@use 'root';

.header {
    position: sticky;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);

    &__container {
        padding: 22px 80px;
        display: flex;
        justify-content: space-between;

        @media (max-width: 768px) {
            padding: 22px;
        }
    }

    &__logo {
        max-width: 80px;
        height: 28px;
        width: 100%;
    }

    &__links {
        display: flex;
        gap: 56px;

        &__item {

            a {
                font-size: 12px;
                font-weight: 700;
                color: root.$color-primary;
                border-radius: 8px;   
            }  

            button {
                a {
                    display: block;
                    width: 130px;
                    padding: 6px;
                    font-size: 12px;
                }
            }
        }
    }
}