@use 'root';
@use 'shows';
@use 'hero';
@use 'header';
@use 'footer';


@font-face {
    font-family: SpaceGrotesk;
    src: url(../assets/fonts/SpaceGrotesk-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: SpaceGrotesk;
    src: url(../assets/fonts/SpaceGrotesk-Regular.ttf);
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: root.$bg-main;
    font-family: SpaceGrotesk, sans-serif;
    color: root.$color-primary;
    background-image: url(../assets/images/hero_desktop.png);
    background-size: cover;
}

@mixin title($txt-size: 40px) {
    font-size: $txt-size;
    line-height: $txt-size + 14px;
}

.h1 {
    @include title(72px);
}

.h4 {
    @include title(28px);
}

.h5 {
    @include title(24px);
}

ul {
    list-style: none;
}

.capitalised {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;  
    color: root.$color-light-dark; 
    font-weight: 700;  
}

.subtitle {
    font-size: 18px;
    line-height: 28px;
}

.subtitle-md {
    padding: 6px 0;
    font-weight: 700;
}

.subtitle-sm {
    font-size: 10px;
}


.caption {
    padding: 6px 0;
    line-height: 16px;
    font-size: 12px;
    color: root.$color-light-dark;
}

.btn {
    border: 2px transparent;
    border-radius: 8px;
    transition: .3s ease;
}

a {
    font-family: SpaceGrotesk, sans-serif;
    text-decoration: none;
}


.btn-primary {
    background-color: root.$btn-primary;

    &:hover {
        background-color: root.$btn-hover;
        color: white;
    }

    a {
        font-weight: 700;
        color: root.$bg-main;
        border-radius: 8px;   
    }   
}

.btn-secondary {
    border: 1px solid root.$color-light-dark;
    background-color: root.$bg-main;

    &:hover {
        background-color: root.$btn-dark;
    }
    
    a {
        color: root.$color-light-dark;
    }
}